@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Inter:wght@300;400;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: $font-size;
}

h1,
h2, {
  font-family: 'Poiret One', sans-serif;
}

h1 {
  font-size: $font-size-xxl;
}

h2 {
  font-size: $font-size-xl;
}

h3 {
  font-size: $font-size-l;
  font-weight: 700;
}

h4 {
  font-size: $font-size;
  font-weight: 700;
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
}
