$spacing-xxs: 0.4rem;
$spacing-xs: 0.8rem;
$spacing-s: 1rem;
$spacing: 1.4rem;
$spacing-l: 1.8rem;
$spacing-xl: 2.2rem;
$spacing-xxl: 2.6rem;

$font-size-s: $spacing-s;
$font-size: $spacing;
$font-size-l: $spacing-l;
$font-size-xl: $spacing-xl;
$font-size-xxl: $spacing-xxl;

$border-radius: 0.4rem;
$border-radius-l: 0.8rem;
