<section class="toolbar">
  <div class="toolbar-group">
    <app-toolbar-button
      icon="image"
      tooltipLabel="Add image"
      tooltipPosition="bottom"
      (buttonClick)="selectFile.emit()"
    />
  </div>
  <div class="toolbar-group">
    <app-toolbar-button
      icon="trash"
      tooltipLabel="Delete item"
      tooltipPosition="bottom"
      [disabled]="!selectedWidget()"
      (buttonClick)="deleteWidget()"
    />
    <app-toolbar-button
      icon="clear"
      tooltipLabel="Unselect"
      tooltipPosition="bottom"
      [disabled]="!selectedWidget()"
      (buttonClick)="clearSelectedWidget()"
    />
  </div>
  <div class="toolbar-group">
    <app-toolbar-button
      icon="rotateBack"
      tooltipLabel="Rotate backward"
      tooltipPosition="bottom"
      [disabled]="!selectedWidget()"
      (buttonClick)="rotateWidget('backward')"
    />
    <app-toolbar-button
      icon="rotateForward"
      tooltipLabel="Rotate forward"
      tooltipPosition="bottom"
      [disabled]="!selectedWidget()"
      (buttonClick)="rotateWidget('forward')"
    />
  </div>
  <div class="toolbar-group">
    <app-toolbar-button
      icon="zoomIn"
      tooltipLabel="Zoom in"
      tooltipPosition="bottom"
      [disabled]="!selectedWidget()"
      (buttonClick)="zoom('in')"
    />
    <app-toolbar-button
      icon="zoomOut"
      tooltipLabel="Zoom out"
      tooltipPosition="bottom"
      [disabled]="!selectedWidget()"
      (buttonClick)="zoom('out')"
    />
  </div>
  <div class="toolbar-group">
    <app-toolbar-button
      icon="brightness"
      tooltipLabel="Adjust brightness"
      tooltipPosition="top"
      [disabled]="!selectedWidget()"
      [slider]="true"
      [sliderMin]="0"
      [sliderMax]="300"
      [sliderValue]="imageBrightness()"
      (sliderChange)="brightnessChange($event)"
    />
    <app-toolbar-button
      icon="blur"
      tooltipLabel="Adjust blur"
      tooltipPosition="top"
      [disabled]="!selectedWidget()"
      [slider]="true"
      [sliderMin]="0"
      [sliderMax]="1000"
      [sliderValue]="imageBlur()"
      (sliderChange)="blurChange($event)"
    />
    <app-toolbar-button
      icon="contrast"
      tooltipLabel="Adjust contrast"
      tooltipPosition="top"
      [disabled]="!selectedWidget()"
      [slider]="true"
      [sliderMin]="0"
      [sliderMax]="500"
      [sliderValue]="imageContrast()"
      (sliderChange)="contrastChange($event)"
    />
    <app-toolbar-button
      icon="blackWhite"
      tooltipLabel="Adjust grayscale"
      tooltipPosition="top"
      [disabled]="!selectedWidget()"
      [slider]="true"
      [sliderMin]="0"
      [sliderMax]="100"
      [sliderValue]="imageGrayscale()"
      (sliderChange)="grayscaleChange($event)"
    />
    <app-toolbar-button
      icon="sepia"
      tooltipLabel="Adjust sepia"
      tooltipPosition="top"
      [disabled]="!selectedWidget()"
      [slider]="true"
      [sliderMin]="0"
      [sliderMax]="100"
      [sliderValue]="imageSepia()"
      (sliderChange)="sepiaChange($event)"
    />
  </div>
</section>
