@import 'src/styles/variables';
@import 'src/styles/colors';

.toolbar {
  padding: $spacing-xs;
  background: $color-white;
  margin-bottom: $spacing-l;
  display: flex;
  border-radius: $border-radius-l;
  border: 1px solid rgba($color-primary, .4);

  &-group {
    &:not(:last-child) {
      border-right: 1px solid rgba($color-primary, 0.3);
      padding-right: $spacing;
    }
    &:not(:first-child) {
      padding-left: $spacing;
    }
  }
}
