<section class="toolbar">
  <div class="toolbar-group">
    <button class="toolbar-tool" tooltip="Add image" position="bottom" (click)="selectFile.emit()">
      <app-icon iconName="image" />
    </button>
  </div>
  <div class="toolbar-group" *ngIf="selectedWidget()">
    <button class="toolbar-tool" tooltip="Delete item" position="bottom" (click)="deleteWidget()" (keyup.enter)="deleteWidget()">
      <app-icon iconName="trash" />
    </button>
    <button class="toolbar-tool" tooltip="Unselect" position="bottom" (click)="clearSelectedWidget()" (keyup.enter)="clearSelectedWidget()">
      <app-icon iconName="clear" />
    </button>
  </div>
  <div class="toolbar-group" *ngIf="selectedWidget()">
    <button class="toolbar-tool" tooltip="Rotate backward" position="bottom" (click)="rotateWidget('backward')" (keyup.enter)="rotateWidget('backward')">
      <app-icon iconName="rotateBack" />
    </button>
    <button class="toolbar-tool" tooltip="Rotate forward" position="bottom" (click)="rotateWidget('forward')" (keyup.enter)="rotateWidget('forward')">
      <app-icon iconName="rotateForward" />
    </button>
  </div>
  <div class="toolbar-group" *ngIf="selectedWidget()">
    <button class="toolbar-tool" tooltip="Zoom in" position="bottom" (click)="zoom('in')" (keyup.enter)="zoom('in')">
      <app-icon iconName="zoomIn" />
    </button>
    <button class="toolbar-tool" tooltip="Zoom out" position="bottom" (click)="zoom('out')" (keyup.enter)="zoom('out')">
      <app-icon iconName="zoomOut" />
    </button>
  </div>
  <div class="toolbar-group" *ngIf="selectedWidget()">
    <button class="toolbar-tool" tooltip="Adjust brightness" position="top">
      <app-icon iconName="brightness" />
      <span class="toolbar-tool-slider">
        <input type="range" class="toolbar-tool-slider-input" (change)="brightnessChange($event)" min="0" max="300" [value]="imageBrightness()">
      </span>
    </button>
    <button class="toolbar-tool" tooltip="Adjust blur" position="top">
      <app-icon iconName="blur" />
      <span class="toolbar-tool-slider">
        <input type="range" class="toolbar-tool-slider-input" (change)="blurChange($event)" min="0" max="1000" [value]="imageBlur()">
      </span>
    </button>
    <button class="toolbar-tool" tooltip="Adjust contrast" position="top">
      <app-icon iconName="contrast" />
      <span class="toolbar-tool-slider">
        <input type="range" class="toolbar-tool-slider-input" (change)="contrastChange($event)" min="0" max="500" [value]="imageContrast()">
      </span>
    </button>
    <button class="toolbar-tool" tooltip="Adjust grayscale" position="top">
      <app-icon iconName="blackWhite" />
      <span class="toolbar-tool-slider">
        <input type="range" class="toolbar-tool-slider-input" (change)="grayscaleChange($event)" min="0" max="100" [value]="imageGrayscale()">
      </span>
    </button>
    <button class="toolbar-tool" tooltip="Adjust sepia" position="top">
      <app-icon iconName="sepia" />
      <span class="toolbar-tool-slider">
        <input type="range" class="toolbar-tool-slider-input" (change)="sepiaChange($event)" min="0" max="100" [value]="imageSepia()">
      </span>
    </button>
  </div>
</section>
