@import 'src/styles/variables';
@import 'src/styles/colors';

:host {
  padding: $spacing-xxl;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.file-upload {
  display: none;
}

.toolbar,
.artboard {
  border-radius: $border-radius-l;
  border: 1px solid rgba($color-primary, .4);
}

.toolbar {
  padding: $spacing-xs;
  background: $color-white;
  margin-bottom: $spacing-l;
  &-tool {
    cursor: pointer;
    padding: $spacing-xs;
    border-radius: $border-radius;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    transition: .2s ease-in;
    background: transparent;
    border: none;
    color: $color-primary;
    &:hover {
      background: rgba($color-primary, 0.2);
    }
  }
}

.artboard {
  position: relative;
  flex: 1;
  background: rgb(246, 246, 246);
  background: linear-gradient(120deg, rgb(227, 227, 232) 0%, rgb(245, 245, 250) 19%, rgb(229, 229, 234) 45%, rgb(241, 241, 246) 78%, rgb(231, 231, 236) 100%);
  box-shadow: inset 0 0 12px 2px rgba($color-primary, .2);
  &-widget {
    position: absolute;
    display: flex;
    resize: vertical;
    overflow: hidden;
    border: 2px solid transparent;
    transition: box-shadow .3s ease-in, border .2s ease-in;

    img {
      object-fit: contain;
    }
    &-action {
      position: absolute;
      padding: $spacing-xs;
      background: transparent;
      transition: .2s ease-in;
      cursor: pointer;
      color: transparent;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0.5);
    }
    &-move {
      transform-origin: top left;
      left: 0;
      top: 0;
      border-radius: 0 0 $border-radius 0;
    }
    &-resize {
      transform-origin: bottom right;
      bottom: 0;
      right: 0;
      border-radius: $border-radius 0 0 0;
      pointer-events: none;
      app-icon {
        transform: rotate(90deg);
      }
    }
    &:hover {
      box-shadow: 0 2px 6px 2px rgba($color-primary, .2);
      border: 2px solid $color-primary;
      .artboard-widget-action {
        color: $color-white;
        background: $color-primary;
        &:active {
          cursor: grabbing;
          background: rgba($color-primary, 0.7);
        }
      }
    }

  }
}
