@import 'src/styles/variables';
@import 'src/styles/colors';

:host {
  padding: $spacing-xxl;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.toolbar,
.artboard {
  border-radius: $border-radius-l;
  border: 1px solid rgba($color-primary, .4);
}

.toolbar {
  padding: $spacing-xs;
  background: $color-white;
  margin-bottom: $spacing-l;
  &-tool {
    cursor: pointer;
    padding: $spacing-xs;
    border-radius: $border-radius;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    transition: .2s ease-in;
    &:hover {
      background: rgba($color-primary, 0.2);
    }
  }
}

.artboard {
  flex: 1;
  background: rgb(168, 168, 168);
  background: linear-gradient(120deg, rgb(190, 189, 189) 0%, rgb(197, 195, 195) 19%, rgb(171, 171, 171) 45%, rgb(169, 169, 169) 78%, rgb(160, 160, 160) 100%);
}
