<input accept="image/*" class="file-upload" type="file" (change)="onSelectFile($event.target)" #fileUpload>
<section class="toolbar">
  <div class="toolbar-group">
    <button class="toolbar-tool" tooltip="Add image" position="bottom" (click)="fileUpload.click()">
      <app-icon iconName="image" />
    </button>
    <button class="toolbar-tool" tooltip="Add text" position="bottom">
      <app-icon iconName="type" />
    </button>
  </div>
  <div class="toolbar-group" *ngIf="selectedWidget()">
    <button class="toolbar-tool" tooltip="Delete item" position="bottom" (click)="deleteWidget()" (keyup.enter)="deleteWidget()">
      <app-icon iconName="trash" />
    </button>
    <button class="toolbar-tool" tooltip="Unselect" position="bottom" (click)="clearSelectedWidget()" (keyup.enter)="clearSelectedWidget()">
      <app-icon iconName="clear" />
    </button>
  </div>
</section>
<section class="artboard" #artboard>
  <button
    *ngFor="let image of images(); trackBy:widgetById"
    cdkDrag
    cdkDragBoundary=".artboard"
    class="artboard-widget"
    [ngClass]="{selected: selectedWidget()?.id === image.id}"
    [ngStyle]="{
      'top': image.position.y + 'px',
      'left': image.position.x + 'px',
      'height': image.height + 'px',
    }"
    (click)="selectWidget(image)"
    (keyup.enter)="selectWidget(image)"
  >
    <img [src]="image.src" [alt]="image.name" [height]="image.height">
    <button class="artboard-widget-action artboard-widget-move" cdkDragHandle>
      <app-icon iconName="move" />
    </button>
    <button class="artboard-widget-action artboard-widget-resize" cdkDragHandle>
      <app-icon iconName="maximize" />
    </button>
  </button>
</section>
